// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-primary: #0fb57e;
	--ion-color-primary-rgb: 15,181,126;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #0d9f6f;
	--ion-color-primary-tint: #27bc8b;


	--ion-color-secondary: #448c48;
	--ion-color-secondary-rgb: 68,140,72;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #3c7b3f;
	--ion-color-secondary-tint: #57985a;

	--ion-color-tertiary: #6030ff;
	--ion-color-tertiary-rgb: 96,48,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #542ae0;
	--ion-color-tertiary-tint: #7045ff;

	--ion-color-success: #069a6c;
	--ion-color-success-rgb: 6,154,108;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #05885f;
	--ion-color-success-tint: #1fa47b;

}